#carouselExampleCaptions {
    img {
        height: 500px;
    }
    .carousel-caption h5 {
        font-size: 2.5rem;
        font-weight: 900;
        -webkit-text-stroke: 1px rgb(15, 31, 241);
    }
}
